<style>
  h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
</style>
<h1 mat-dialog-title>Productos</h1>
<div mat-dialog-content>
  <ul> <!-- Asegura que no haya padding ni margin -->
    <li *ngFor="let producto of data.productos">
      <div style="margin-bottom: 5px;">
        <div>
          {{ producto.cantidad }} x {{ producto.nombre }} - Importe: ${{ producto.cantidad * producto.precio }}
        </div>
        <div *ngIf="authService.role === 'PANADERO' || authService.role === 'ADMIN'" style="display: flex;">
          Insumos:
          <ul> <!-- Asegura que no haya padding ni margin -->
            <li *ngFor="let insumo of producto.insumos">
              - {{ getInsumoNombre(insumo.id) }} {{ insumo.cantidad }}{{ getInsumoUnidad(insumo.id) }}
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>


