<style> 
    .container { 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start; 
        margin: 10px auto; /* Asegura márgenes iguales a la izquierda y derecha */
        width: 100%; 
        box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
    } 

    .form-card { 
        width: 80%; 
        max-width: 1200px; 
        box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
    } 

    .datos { 
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start; 
        margin: 10px; 
        padding: 10px; 
        border: 2px solid #ccc; 
        border-radius: 5px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .titulo { 
        font-size: 1.5em; 
        text-align: center;
    }

    .nombre, .precio, .cant { 
        margin: 5px; 
        padding: 5px; 
        font-size: 1.2em; 
    }

    .cantidad {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }

    input[type="number"].cantidadInp {
        margin-left: 10px;
        padding: 5px; 
        font-size: 1em; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s; 
        width: 80px;
    }

    input[type="number"].cantidad:focus {
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

    .total {
        margin: 20px 0;
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
    }

    .btnConfirmar {
        padding: 10px 20px; 
        white-space: nowrap; 
        width: auto;
    }
</style>

    
<div class="container">
    <mat-card class="form-card">
        <mat-card-title class="titulo">MI PEDIDO</mat-card-title>
        <form [formGroup]="carritoForm">
        <div formArrayName="productos">
            <div *ngFor="let producto of productos.controls; let i = index" [formGroupName]="i">
                <div class="datos">
                    <p class="nombre">Nombre: {{ producto.get('nombre')?.value }}</p>
                    <p class="precio">Precio: {{ producto.get('precio')?.value | currency }}</p>
                    <div class="cantidad">
                    <p class="cant">Cantidad:</p>
                    <input matInput formControlName="cantidad" aria-label="Cantidad" type="number" class="cantidadInp" min="1">
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="total">
        <p>Precio Total: {{ totalPrecio | currency }}</p>
        <button mat-raised-button color="primary" type="submit" class="btnConfirmar">Confirmar pedido</button>
        </div>
    </mat-card>
</div>
  