<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .form-card {
    height: 100%;
  }

  .nombre {
    margin-bottom: 20px;
  }

  .unidad {
    margin-bottom: 20px;
  }
</style>
<div class="container">
    <mat-card class="form-card">
      <mat-card-title class="text-center" style="text-align: center; margin-bottom: 10px;">Editar insumos</mat-card-title>
      <form [formGroup]="editInsumo" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="nombre">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required>
          <mat-error *ngIf="editInsumo.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="unidad">
          <mat-label>Unidad</mat-label>
          <input matInput formControlName="unidad">
          <mat-error *ngIf="editInsumo.get('unidad')?.hasError('required')">La unidad es requerida</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </mat-card>
</div>
