<!-- forgot-password-dialog.component.html -->
<h1 mat-dialog-title>Recuperar contraseña</h1>
<div mat-dialog-content>
    <p>Se enviará un correo electrónico con instrucciones para recuperar tu contraseña.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" aria-label="Email">
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            El email es requerido
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
            Por favor ingresa un email válido
        </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" type="submit" (click)="onSubmit()">Enviar</button>
</div>