.container {
    padding: 16px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    text-align: center;
  }
  
  .product-image {
    width: 50px;
    height: auto;
  }

  .action-cell {
    text-align: center;
  }
  
  .mat-icon-button {
    margin: 0 4px;
  }