<div class="container">
  <mat-card class="form-card">
    <mat-card-title class="titulo">PRODUCTOS</mat-card-title>

    <div *ngIf="authService.role === 'PANADERO' || authService.role === 'ADMIN'" class="search-bar">
      <mat-form-field>
        <mat-label>Buscar por nombre</mat-label>
        <input matInput placeholder="Ingrese el Nombre del Producto" [(ngModel)]="filtroNombre" (keyup)="applyFilter()">
      </mat-form-field>
    </div>

    <div class="table-container" *ngIf="dataSource.data.length > 0; else noProductos">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 centrado-tabla">

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
        </ng-container>

        <!-- Imagen Column -->
        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Imagen </th>
          <td mat-cell *matCellDef="let producto">
            <img [src]="producto.imagen" alt="{{producto.nombre}}" class="product-image">
          </td>
        </ng-container>

        <!-- Precio Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let producto"> {{producto.precio | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="insumos">
          <th mat-header-cell *matHeaderCellDef> Insumos </th>
          <td mat-cell *matCellDef="let producto">
            <button mat-button (click)="openDialogInsumos(producto)">Ver insumos</button>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container *ngIf="this.authService.role === 'ADMIN'" matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let producto" class="action-cell">
            <ng-container class="buttonContainer">
              <button mat-icon-button color="primary" aria-label="Ver Insumos"
                (click)="verInsumoProducto(producto.id)">
                <mat-icon>list</mat-icon>
              </button>
              <button mat-icon-button color="primary" aria-label="Editar Producto"
                (click)="openEditModal(producto)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Eliminar producto"
                (click)="eliminarProducto(producto.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #noProductos>
      <p class="no-productos">No hay productos disponibles.</p>
    </ng-template>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
