<div class="container">
    <table mat-table [dataSource]="productos" class="mat-elevation-z8">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let producto"> {{producto.id}} </td>
      </ng-container>
  
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
      </ng-container>
  
      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
      </ng-container>
  
      <!-- Imagen Column -->
      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let producto">
          <img [src]="producto.imagen" alt="{{producto.nombre}}" class="product-image">
        </td>
      </ng-container>
  
      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let producto"> {{producto.precio | currency}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let producto" class="action-cell">
          <ng-container class="buttonContainer">
            <button mat-icon-button color="primary" aria-label="Editar Producto" (click)="openEditModal(producto, producto.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Eliminar producto" (click)="eliminarProducto(producto.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  