.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-card {
    width: 80%;
    max-width: 1200px;
    box-sizing: border-box;
  }
  
  .titulo {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .no-productos {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
  }
  
  .mat-row,
  .mat-header-row {
    height: 50px;
  }
  
  .mat-cell,
  .mat-header-cell {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .centrado-tabla th,
  .centrado-tabla td {
    text-align: center;
  }
  
  .centrado-productos {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .centrado-productos li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .select-container {
    display: flex;
    align-items: center;
  }
  
  .small-select {
    width: 100%;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .select-container-panadero {
    display: flex;
    align-items: center;
  }
  
  .flechita {
    cursor: pointer;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  ::ng-deep .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    margin-bottom: -1.5rem !important;
    padding-bottom: 0 !important;
  }
  
  .small-select-panadero {
    width: calc(100% - 2px);
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .email-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  

.product-image {
    max-width: 50px;
    height: auto;
}