/* You can add global styles to this file, and also import other style files */

/* Define custom properties (CSS variables) for your theme colors */
:root {
  --primary-color: #ebebeb; /* Deep Purple */
  --accent-color: #ff4081;  /* Amber */
  --warn-color: #f44336;    /* Red */
}

html, body { height: 100%; background-color: var(--primary-colory);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--primary-color);}

/* image-upload.component.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
}

.file-input-wrapper {
  margin-top: 16px;
}

.file-input-wrapper label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}

.file-input-wrapper input[type="file"] {
  font-size: 16px;
}

.preview-wrapper {
  margin-top: 16px;
  text-align: center;
}

.preview-wrapper p {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.preview-wrapper img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

.margin-top {
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 20px;
  width: 100%;
}


